In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
path = "search trends/rap_of_the_year/"

In [4]:
years = [i for i in range(2005, 2024)]

In [7]:
file_name = path+str(years[0])+"_p1.csv"

In [8]:
file_name

'search trends/rap_of_the_year/2005_p1.csv'

In [ ]:
search trends/record_of_the_year/2005_part1.csv

In [18]:
df = pd.read_csv(file_name)

In [19]:
df

,Week,Here We Go Again: (Worldwide),Yeah!: (Worldwide),Heaven: (Worldwide),American Idiot: (Worldwide),Lets Get It Started: (Worldwide)
0,2004-01-04,0,4,96,0,0
1,2004-01-11,<1,5,88,0,0
2,2004-01-18,0,6,100,0,0
3,2004-01-25,1,8,93,0,0
4,2004-02-01,0,10,82,1,0
5,2004-02-08,1,9,88,0,0
6,2004-02-15,0,14,88,0,0
7,2004-02-22,<1,20,96,0,0
8,2004-02-29,0,25,87,1,0
9,2004-03-07,1,35,86,0,0
10,2004-03-14,0,34,91,0,0
11,2004-03-21,0,40,94,0,0
12,2004-03-28,<1,32,84,0,0
13,2004-04-04,0,33,95,0,<1
14,2004-04-11,0,30,83,0,1
15,2004-04-18,0,26,89,0,<1
16,2004-04-25,0,25,94,0,<1
17,2004-05-02,1,23,90,0,<1
18,2004-05-09,0,22,91,<1,<1
19,2004-05-16,0,19,94,0,<1
20,2004-05-23,<1,20,90,0,1
21,2004-05-30,<1,15,94,0,1
22,2004-06-06,<1,15,97,<1,1
23,2004-06-13,0,14,91,<1,3
24,2004-06-20,0,15,93,0,2
25,2004-06-27,<1,12,85,1,2
26,2004-07-04,1,11,86,<1,2
27,2004-07-11,<1,9,83,<1,1
28,2004-07-18,<1,9,93,<1,3
29,2004-07-25,1,8,93,1,3
30,2004-08-01,1,8,95,4,3
31,2004-08-08,0,9,98,6,2
32,2004-08-15,<1,8,95,8,1
33,2004-08-22,1,6,90,10,2
34,2004-08-29,<1,10,88,11,2
35,2004-09-05,1,8,93,9,2
36,2004-09-12,<1,9,95,20,3
37,2004-09-19,<1,7,91,31,3
38,2004-09-26,0,7,94,28,2

In [12]:
df_record = pd.read_csv("record_of_the_year_cleaned.csv")

In [14]:
df_record["year"] = df_record["year"] + 1
df_record = df_record[(df_record['year'] >= 2005) & (df_record['year'] <= 2023)]

In [15]:
df_record

,Unnamed: 0,year,award category,song,artist,wasWinner
231,231,2005,Record of the year,Here We Go Again,Ray Charles & Norah Jones,yes
232,232,2005,Record of the year,Yeah!,Usher Featuring Lil Jon & Ludacris,no
233,233,2005,Record of the year,Heaven,Los Lonely Boys,no
234,234,2005,Record of the year,American Idiot,Green Day,no
235,235,2005,Record of the year,Let's Get It Started,The Black Eyed Peas,no
...,...,...,...,...,...,...
341,341,2023,Record of the year,Woman,Doja Cat,no
342,342,2023,Record of the year,You And Me On The Rock,Brandi Carlile Featuring Lucius,no
343,343,2023,Record of the year,Good Morning Gorgeous,Mary J. Blige,no
344,344,2023,Record of the year,Easy On Me,Adele,no
345,345,2023,Record of the year,Don't Shut Me Down,ABBA,no

In [22]:
songs = df.columns

In [25]:
scores = list(df[songs[1]])

In [26]:
scores

['0',
 '<1',
 '0',
 '1',
 '0',
 '1',
 '0',
 '<1',
 '0',
 '1',
 '0',
 '0',
 '<1',
 '0',
 '0',
 '0',
 '0',
 '1',
 '0',
 '0',
 '<1',
 '<1',
 '<1',
 '0',
 '0',
 '<1',
 '1',
 '<1',
 '<1',
 '1',
 '1',
 '0',
 '<1',
 '1',
 '<1',
 '1',
 '<1',
 '<1',
 '0']

In [27]:
scores = list(map(lambda x: x.replace('<1', '0.5'), scores))

In [29]:
scores = [float(x) for x in scores]

In [32]:
avg_pop = np.mean(np.array(scores))
peak_pop = np.max(np.array(scores))

In [33]:
avg_pop

0.3974358974358974

In [34]:
peak_pop

1.0

In [36]:
df_record.iloc[0]["year"]

2005

In [50]:
years

[2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018,
 2019,
 2020,
 2021,
 2022,
 2023]

In [11]:
song_names = []
avg_pops = []
peak_pops = []
years_list = []
for year in years:
    file_name = path+str(year)+"_p1.csv"
    df = pd.read_csv(file_name)
    songs = df.columns
    for i in range(1, len(songs)):
        scores = list(df[songs[i]])
        song_names.append(songs[i])
        #print(scores)
        if '<1' in scores:
            scores = list(map(lambda x: x.replace('<1', '0.5'), scores))
        scores = [float(x) for x in scores]
        scores = np.array(scores)
        avg_pop = np.mean(scores)
        peak_pop = np.max(scores)
        avg_pops.append(avg_pop)
        peak_pops.append(peak_pop)
        years_list.append(year)
    print("Done with year", year)

Done with year 2005
Done with year 2006
Done with year 2007
Done with year 2008
Done with year 2009
Done with year 2010
Done with year 2011
Done with year 2012
Done with year 2013
Done with year 2014
Done with year 2015
Done with year 2016
Done with year 2017
Done with year 2018
Done with year 2019
Done with year 2020
Done with year 2021
Done with year 2022
Done with year 2023

In [12]:
df = pd.DataFrame(columns=["song", "year", "peak pop", "avg pop"])
df["song"] = song_names
df["year"] = years_list
df["peak pop"] = peak_pops
df["avg pop"] = avg_pops

In [13]:
df

                           song  year  peak pop    avg pop
0    Lose Yourself: (Worldwide)  2005      69.0  40.846154
1        Beautiful: (Worldwide)  2005      10.0   1.179487
2   Excuse Me Miss: (Worldwide)  2005      16.0   1.358974
3       In da Club: (Worldwide)  2005     100.0  58.512821
4          Work It: (Worldwide)  2005       9.0   1.153846
..                          ...   ...       ...        ...
92            Jail: (Worldwide)  2023     100.0  87.403846
93      Bath Salts: (Worldwide)  2023       1.0   1.000000
94     Best Friend: (Worldwide)  2023       0.5   0.500000
95     Family Ties: (Worldwide)  2023       2.0   1.019231
96         My Life: (Worldwide)  2023      63.0  56.692308

[97 rows x 4 columns]

In [14]:
import re

In [15]:
pattern = re.compile(r': \(Worldwide\)')

# remove "(Single)" string from the end of values in Column1
df['song'] = df['song'].apply(lambda x: re.sub(pattern, '', x))

In [16]:
df

              song  year  peak pop    avg pop
0    Lose Yourself  2005      69.0  40.846154
1        Beautiful  2005      10.0   1.179487
2   Excuse Me Miss  2005      16.0   1.358974
3       In da Club  2005     100.0  58.512821
4          Work It  2005       9.0   1.153846
..             ...   ...       ...        ...
92            Jail  2023     100.0  87.403846
93      Bath Salts  2023       1.0   1.000000
94     Best Friend  2023       0.5   0.500000
95     Family Ties  2023       2.0   1.019231
96         My Life  2023      63.0  56.692308

[97 rows x 4 columns]

In [17]:
df.to_csv("rap_oy_search_trends.csv")